{{page-title "Home"}}

<NewGame />

{{#if @model}}
  <ul>
    {{#each @model as |game|}}
      <li>
        <ContinueGameLink @game={{game.game}} @steps={{game.steps}} />
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Welcome to your first wiki race!</p>
{{/if}}

<MuLogout />