<h1>Wiki Race!</h1>

{{#if this.session.isAuthenticated}}
  <p>Welcome back!</p>
  <LinkTo @route="home">Play a game</LinkTo>
  <MuLogout />
{{else}}
  <div>
    <LinkTo @route="login">Login</LinkTo>
  </div>
  <div>
    <LinkTo @route="register">Create an account</LinkTo>
  </div>
{{/if}}